@import '~@angular/material/theming';

@include mat-core();
// For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$mat-ird: (
  50 : #fdede0,
  100 : #f9d3b3,
  200 : #f6b680,
  300 : #f2994d,
  400 : #ef8326,
  500 : #ec6d00,
  600 : #ea6500,
  700 : #e75a00,
  800 : #e45000,
  900 : #df3e00,
  A100 : #ffffff,
  A200 : #ffdcd3,
  A400 : #ffb4a0,
  A700 : #ffa086,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$mat-ird-accent: (
  50 : #eee6ed,
  100 : #d4c1d2,
  200 : #b798b5,
  300 : #9a6f97,
  400 : #855080,
  500 : #6f316a,
  600 : #672c62,
  700 : #5c2557,
  800 : #521f4d,
  900 : #40133c,
  A100 : #ff7df2,
  A200 : #ff4aec,
  A400 : #ff17e7,
  A700 : #fc00e3,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);




$iridium-app-primary: mat-palette($mat-ird);
$iridium-app-accent: mat-palette($mat-ird-accent);

// The warn palette is optional (defaults to red).
$iridum-app-warn: mat-palette($mat-red);
