@import "theming";

$theme: unset;
.iridium-dark-theme {
  // Create the theme object (a Sass map containing all of the palettes).
  $iridium-dark-theme: mat-dark-theme($iridium-app-primary, $iridium-app-accent, $iridum-app-warn);
  @include angular-material-theme($iridium-dark-theme);

  $theme: $iridium-dark-theme;
  @import "styles/variables";

  .mat-drawer-container {
    color: white;
    background-image: linear-gradient(to top, #08182d 0%, #42363f 100%);
  }

}

.iridium-light-theme {
  // Create the theme object (a Sass map containing all of the palettes).
  $iridium-light-theme: mat-light-theme($iridium-app-primary, $iridium-app-accent, $iridum-app-warn);
  @include angular-material-theme($iridium-light-theme);

  $theme: $iridium-light-theme;
  @import "styles/variables";
}




@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/reboot";
@import "~bootstrap/scss/grid";
@import "~bootstrap/scss/utilities";
@import "styles/reset";
