<mat-sidenav-container fullscreen>
  <mat-sidenav mode="over" #sidenav>

    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button routerLink="/"><img src="/assets/logo.png" style="height: 3em;">{{ 'app.navigation.home.title' | translate }}</button>
      </mat-toolbar-row>
    </mat-toolbar>

  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="mat-elevation-z6">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
        <button mat-button routerLink="/"><img src="/assets/logo.png" style="height: 3em;">{{ 'app.navigation.home.title' | translate }}</button>

        <div class="flex-grow-1"></div>

        <button mat-button routerLink="/login" *appIsAuthenticated="false">
          <mat-icon>lock_open</mat-icon> {{ 'app.navigation.login.button' | translate }}
        </button>

        <button mat-button routerLink="/register" *appIsAuthenticated="false">
          <mat-icon>person_add</mat-icon> {{ 'app.navigation.register.button' | translate }}
        </button>

        <button mat-button routerLink="/wallet" *appIsAuthenticated="true">
          <mat-icon>account_balance_wallet</mat-icon> {{ 'app.navigation.wallet.button' | translate }}
        </button>

        <button mat-button (click)="logout()" *appIsAuthenticated="true">
          <mat-icon>exit_to_app</mat-icon> {{ 'app.navigation.logout.button' | translate }}
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <div class="container-fluid mt-3">
      <div class="row">
        <div class="col-12">
          <app-loading></app-loading>
          <router-outlet></router-outlet>
        </div>
      </div>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>
