<div class="wallet-list-entry" routerLink="/wallet/{{wallet.id}}/overview">
  <div class="container-fluid">
    <div class="row">

      <div class="col-10">
        <div class="row">
          <div class="col-12 wallet-name">{{wallet.name}}</div>
          <div class="col-12 wallet-address">{{wallet.address}}</div>
        </div>
      </div>
      <div class="col-2 d-flex justify-content-end align-items-center">
        <mat-icon *ngIf="wallet.status === InstanceStatus.STOPPED">lock</mat-icon>
        <mat-icon *ngIf="wallet.status === InstanceStatus.RUNNING">lock_open</mat-icon>
        <mat-icon *ngIf="wallet.status === InstanceStatus.ERROR">report_problem</mat-icon>
        <mat-icon class="wallet-open-arrow">arrow_forward_ios</mat-icon>
      </div>

    </div>
  </div>
</div>
