<div class="col-12">
  <form [formGroup]="form" (submit)="createWallet()">
    <mat-form-field>
      <input matInput placeholder="Wallet name" required formControlName="name" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Wallet password" required formControlName="password" type="password">
    </mat-form-field>
    <br>

    <mat-form-field>
      <input matInput placeholder="ViewSecretKey" required formControlName="viewSecretKey" type="text">
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="SpendSecretKey" required formControlName="spendSecretKey" type="text">
    </mat-form-field>

    <button mat-button color="primary" type="submit">
      <mat-icon>vpn_key</mat-icon>
      Import Wallet
    </button>
  </form>
</div>
